.oec-header {
  border-bottom: 3px solid #2a6ebb;
}

.oec-brand {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.oec-brand-logo {
  height: 32px;
  width: auto;
}

.oec-github {
  float: right;
  display: flex;
  align-items: center;
  height: 54px;
  margin-left: 15px;
  color: #828282;
  opacity: 0.7;
}

.oec-github:hover {
  color: #2a6ebb;
  opacity: 1;
}

.oec-footer {
  border-top: 3px solid #2a6ebb;
}
